
body{
font-family: ' Montserrat-Black';
}
.container-fluid{
  padding: 3% 15% 7%;

}
h1{
    font-family: ' Montserrat-Black';
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}
h3{
  font-family: "Montserrat-bold";
  font-size: 2.0rem;
}
p{
  color: #8f8f8f;
}
#title{
  background-color: #ff4c68;
  color: #ffff;
}
/* Navigation Bar */
.navbar{
    padding:0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu",sans-serif;
  font-size: 2.52rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-weight: 1.2rem;
  font-family: "Montserrat-Light";
}
/* Download-Buttons */
.Download-Buttons {
  margin: 5% 3% 5% 0;
}
/*
title-image-class */
.title-image-class{
width: 60%;
transform: rotate(25deg);
position: absolute;
right: 30%;
}

/* Features Section */
#features{

  padding: 7% 15%;
  background-color: #fff;
  position: relative;
}
.feature-box{
  text-align: center;
  padding: 5%;
  line-height: 1.5;
}
.feature-icons{
  margin-bottom: 1rem;
  color: #ef8172;
}
.feature-icons:hover{
  color: #ff4c68;
}



  /* <!-- Testimonials --> */

  #testimonials{
    background-color: #ef8172;
    text-align: center;

    color: #ffff;
  }
.testimonial-image{
  width: 12%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
    padding: 7% 15%;
}

/* pressing  */
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  margin: 20px 20px 50px;
}

/*
pricing  sections*/

#pricing{
  padding: 100px;
  text-align: center;
}
.pricing-column{
  padding: 2% 3%;
}
@media (max-width:1000px) {
  #title{
    text-align: center;
  }
  .title-image-class{
    position: static;
    transform: rotate(0);
  }

}

  /* <!-- Call to Action --> */

  #cta
  {
  background-color: #ff4c68;
  color: #ffff;
  padding: 7% 15%;
  font-weight: bold;
  text-align: center;
  }
.cta-text{
font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}


/* footer section */
#footer{
  background-color: #ffff;
  padding: 7% 15%;
  text-align: center;
}
.social-icons{margin: 20px 10px;

}
